
body{
	background-color: black;
	margin:0px;
	font-size: 1em;
	text-align: justify;
	padding: 0px;
}
.container{

	align-items: stretch;
	margin:0px;
	margin-top:5px;
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}
.row{
	
	margin:0px;
}
.col {
	background-color: white;
	color:black;
}

#logo{
	text-align: center;
	height: 15vh;
	display: inline-block;
}

#mymap{
	min-height: 300px;
}

#oferty{
	overflow: auto;
	
	max-height: 80vh;
}

.col[id^='oferta']
{
	padding: 5px;
	margin-bottom: 5px;
	margin-top:5px;
	overflow: hidden;
	min-height: 75px;
	background-color: #9D8D8F;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 9px 9px 0px -6px rgba(0,0,0,0.44);
	-moz-box-shadow: 9px 9px 0px -6px rgba(0,0,0,0.44);
	box-shadow: 9px 9px 0px -6px rgba(0,0,0,0.44);
}
.col[id^='oferta']:hover{
	background-color: #46344E; 
}
#tekst{
	margin:10px;
	padding:15px;
}
img{
	height: 60px;

	float:left;
	margin:15px;
}

.button {
  background-color: #17252A;
  border: none;;
  color: white;
  padding: 0.4em 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2px;
  cursor: pointer;
}

@keyframes fade { 
  	from{ opacity:0.5; }
}

.blinking {
  animation: fade 0.3s infinite alternate;

}
/*efekt pulsowania*/
.pulse {
    animation: pulsate 1s ease-out;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.65
}

@keyframes pulsate {
    0% {transform: opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: opacity: 0.0;}
}

